/*----------------------  2 [Base]  ----------------------
  /**
    * Base syntax should not contain any classes, id or use attribute selectors of any kind.
    * Resets or basic styles for elements belong here
    *
    * Example:
    *
    * header { ... }
    * 
    *

/* You can add global styles to this file, and also import other style files */


*
  box-sizing: border-box
  &:before, &:after
    box-sizing: inherit

html
  font-size: 150%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
body
  font: 1.2rem "Determination Mono", "determination_sansregular", sans-serif
  background: $black
  color: $white
  margin: 0
  padding: 0
  overflow: hidden
.player
  position: absolute
  z-index: 15
  border: 5px solid $white
  display: block
  height: 50px
  width: 50px
  top: 0
  left: 0
nav
  position: absolute
  z-index: 100
/*----------------------  End Base  ----------------------



