nav.nav
  .nav--menu.icon#navMenu
    include ../includes/hamburger.html
    p menu
  .nav--container
    ul.prev-nex
      li.prev
        a(href="/#!/waterfall") &lt; Waterfall
      li.next
        a(href="/#!/the-core") The Core &gt;
    h2.current HotLand
    ul.links#links
      li
        a(href="/#!/hotland/alphy") Alphy's Lab
      li
        a(href="/#!/hotland/mtt-resort") MTT Resort
.map.map--hotland
  img(src="images/maps/hotland.png" alt="Map of Hotland")
