nav.nav
  .nav--menu.icon#navMenu
    include ../_includes/hamburger.html
    p menu
  .nav--container
    ul.prev-nex
      li.prev
        a(href="/#!/the-core") &lt; The Core
      li.next
        a(href="/#!/") The Underground &gt;
    h2.current New Home
    ul.links#links
      li
        a(href="/#!/new-home/last-corridor") Last Corridor
      li
        a(href="/#!/new-home/asgore") Asgore's House
      li
        a(href="/#!/new-home/barrier") Barrier
.map.map--new-home
  img(src="images/maps/new-home.png", alt="Map of the New Home")
