nav.nav
  .nav--menu.icon#navMenu
    include ../_includes/hamburger.html
    p menu
  .nav--container
    ul.prev-nex
      li.prev
        a(href="/#!/") &lt; The Underground
      li.next
        a(href="/#!/snowdin") Snowdin &gt;
    h2.current Ruins
    ul.links#links
      li
        a(href="/#!/ruins/spider-bake-sale") Spider Bake Sale
      li
        a(href="/#!/ruins/home") Home
      li
        a(href="/#!/ruins/toriels-home") Toriel's Home
.map.map--ruins
  img(src="images/maps/ruins.png" alt="Map of the Ruins")
