nav.nav
  .nav--menu.icon#navMenu
    include ../_includes/hamburger.html
    p menu
  .nav--container
    h2.current The Underground
    ul.links#links
      li
        a(href="/#!/ruins") Ruins
      li
        a(href="/#!/snowdin") Snowdin
      li
        a(href="/#!/waterfall") Waterfall
      li
        a(href="/#!/hotland") Hotland
      li
        a(href="/#!/the-core") The Core
      li
        a(href="/#!/new-home") New Home
.map.map--underground
  img(src="images/maps/the-underground.png" alt="Overview of The Underground")
