nav.nav
  .nav--menu.icon#navMenu
    include ../includes/hamburger.html
    p menu
  .nav--container
    ul.prev-nex
      li.prev
        a(href="/#!/hotland") &lt; Hotland
      li.next
        a(href="/#!/new-home") New Home &gt;
    h2.current The Core
    ul.links#links
      li
        a(href="/#!/the-core/exterior") Exterior View

.map.map--the-core
  img(src="images/maps/the-core.png" alt="Map of the Core")
