nav.nav
  .nav--menu.icon#navMenu
    include ../_includes/hamburger.html
    p menu
  .nav--container
    ul.prev-nex
      li.prev
        a(href="/#!/snowdin") &lt; Snowdin
      li.next
        a(href="/#!/hotland") Hotland &gt;
    h2.current Waterfall
    ul.links#links
      li
        a(href="/#!/waterfall/dump") Garbage Dump
      li
        a(href="/#!/waterfall/undyne") Undyne's House
      li
        a(href="/#!/waterfall/temmie") Temmie Village
.map.map--waterfall
  a(href="/#!/waterfall/temmie" style='top: 5835px; left: 15383px;').interest-point#temmie
  img(src="images/maps/waterfall.png" alt="Map of The Waterfall")
