.dialogue
  border: 5px solid $white
  padding: 1rem
  background: black
  position: absolute
  bottom: 0
  &#npc
    width: 65%
    left: 1rem
    bottom: 1rem
    img
      width: 40%
    p
      width: 60%
