.icon
  height: 2.5rem
  cursor: pointer
  position: fixed
  z-index: 15
  svg
    width: auto
    height: 100%
    fill: $white
    overflow: visible
    &:hover
      fill: lighten($red, 5%)
  &--mute
    right: 1rem
    top: 1rem


