doctype html
html(lang="en")
  head
    title Undertale Interactive Map
    meta(charset="utf-8")
    meta(name="Author" content="Manuel Osorio")
    meta(name="description" content="Interactive Map for Undertale")

    // Open Graph - Facebook, Google, LinkedIn
    meta(property="og:type" content="Article")
    meta(property="og:description" content="Interactive Map for Undertale")
    meta(property="og:image" content="")
    meta(property="og:url" content="#")
    meta(property="og:site_name" content="Undertale Interactive Map")
    //end Open Graph

    //Twitter Meta Content
    meta(name="twitter:title" content="Undertale Interactive Map")
    meta(name="twitter:description" content="Interactive Map for Undertale")
    meta(name="twitter:image" content="")
    meta(name="twitter:site" content="@MKDesignzManuel")
    meta(name="twitter:creator" content="@MKDesignzManuel")
    //End Twitter Meta Content

    meta(name="robots" content="noindex, nofollow")
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    link(rel='apple-touch-icon' sizes='180x180' href='images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='images/favicon-16x16.png')
    link(rel='manifest' href='images/site.webmanifest')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet" href="css/style.css")
  body
    img(src="" data-muted="images/mute.svg" data-sound="images/sound.svg" class="icon icon--mute" id="volumeIcon")

    nav.nav
      .nav--menu.icon
        include includes/hamburger.html
        p menu
      .nav--container
        Strong.current The Underground
        ul.links#links
          li
            a(href="/#!/") Ruins
          li
            a(href="/#!/") Snowdin
          li
            a(href="/#!/") Waterfall
          li
            a(href="/#!/") Hotland
          li
            a(href="/#!/") The Core
          li
            a(href="/#!/") New Home
    img(src="./images/frisk.svg").player
    .router--container
    .alert.dialogue
      p Requesting to play audio on this site. You can enable or disable sound at any point.
      button#allow Allow
      button#decline decline
    audio(id="audio" loop src="./audio/music/start.mp3")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jqueryrouter@2.2.6/dist/js/jquery.router.min.js")
    script(src="https://unpkg.com/navigo@6")
    script(src="./vendor/touch.js")
    script(src="scripts/script.js")
